<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        xmlns:tools="http://schemas.android.com/tools"
        package="mz.co.avana">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />

    <application
            android:allowBackup="true"
            android:fullBackupContent="true"
            android:hardwareAccelerated="false"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:largeHeap="true"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            tools:ignore="GoogleAppIndexingWarning">
        <activity
                android:name=".presentation.ui.item.NotificationItemDetailsActivity"
                android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="mz.co.avana.TARGETNOTIFICATION" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
                android:name=".presentation.ui.user.PasswordRecoverActivity"
                android:noHistory="true"
                android:windowSoftInputMode="stateHidden" />
        <activity
                android:name=".presentation.ui.item.UpdateItemActivity"
                android:noHistory="true"
                android:windowSoftInputMode="stateHidden" />
        <activity
                android:name=".presentation.ui.user.OtherUserProfileActivity"
                android:label="@string/title_activity_other_user_profile"
                android:theme="@style/AppTheme.NoActionBar" />
        <activity
                android:name=".presentation.ui.search.ItemSearchedActivity"
                android:windowSoftInputMode="stateHidden" />
        <activity
                android:name=".presentation.ui.search.SearchActivity"
                android:label="@string/title_activity_search"
                android:noHistory="true"
                android:theme="@style/AppTheme.NoActionBar" />
        <activity
                android:name=".presentation.ui.main.SplashScreenActivity"
                android:noHistory="true"
                android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
                android:name=".presentation.ui.item.ItemDetailsActivity"
                android:windowSoftInputMode="stateHidden" />
        <activity
                android:name=".presentation.ui.user.UserRegistrationActivity"
                android:windowSoftInputMode="stateHidden" />
        <activity
                android:name=".presentation.ui.item.ShareItemActivity"
                android:windowSoftInputMode="stateHidden" />
        <activity
                android:name=".presentation.ui.user.UserLoginActivity"
                android:windowSoftInputMode="stateHidden" />
        <activity
                android:name=".presentation.ui.main.HomeActivity"
                android:windowSoftInputMode="stateHidden" />

        <meta-data
                android:name="preloaded_fonts"
                android:resource="@array/preloaded_fonts" />

        <service
                android:name=".services.NotificationMessage"
                android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
                android:name="com.google.firebase.messaging.default_notification_icon"
                android:resource="@drawable/ic_logo_white" />
        <meta-data
                android:name="com.google.firebase.messaging.default_notification_color"
                android:resource="@color/colorAccent" />
    </application>

</manifest>